name: Build Custom Caddy (no DNS)

on:
  workflow_dispatch:
    inputs:
      caddy_version:
        description: "Версия Caddy (например, v2.8.4)"
        required: true
        default: "v2.10.2"

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      # 1. Checkout репозиторий
      - name: Checkout repository
        uses: actions/checkout@v4

      # 1.1. Определение версии (логика: input -> default)
      - name: Determine Version
        id: get_version
        shell: pwsh
        run: |
          # Укажите здесь версию по умолчанию, которая будет использоваться при push
          $default_ver = "v2.10.2"
          
          # Берем версию из ввода пользователя
          $input_ver = "${{ github.event.inputs.caddy_version }}"
          
          # Если запуск по push (input пустой), используем default
          if ([string]::IsNullOrWhiteSpace($input_ver)) {
              $final_ver = $default_ver
              Write-Host "Triggered by push. Using default version: $final_ver"
          } else {
              $final_ver = $input_ver
              Write-Host "Triggered manually. Using input version: $final_ver"
          }
          
          # Сохраняем результат для следующих шагов
          echo "tag=$final_ver" >> $env:GITHUB_OUTPUT

      # 2. Установка Go
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.6"

      # 3. Установка xcaddy
      - name: Install xcaddy
        shell: pwsh
        run: |
          go install github.com/caddyserver/xcaddy/cmd/xcaddy@latest
          echo "$env:USERPROFILE\go\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      # 4. Сборка Caddy с модулями и указанной версией
      - name: Build Caddy with modules
        shell: pwsh
        run: |
          xcaddy build ${{ github.event.inputs.caddy_version }} `
            --with github.com/BadAimWeeb/caddy-uwsgi-transport `
            --with github.com/Elegant996/scgi-transport `
            --with github.com/HeavyHorst/certmagic-nats `
            --with github.com/LeenHawk/caddy-edgeone-ip `
            --with github.com/LeenHawk/edgeone `
            --with github.com/Scarsz/caddy-save `
            --with github.com/WeidiDeng/caddy-cloudflare-ip `
            --with github.com/abiosoft/caddy-exec `
            --with github.com/abiosoft/caddy-hmac `
            --with github.com/abiosoft/caddy-inspect `
            --with github.com/abiosoft/caddy-json-parse `
            --with github.com/abiosoft/caddy-json-schema `
            --with github.com/aksdb/caddy-cgi/v2 `
            --with github.com/anthemaker/caddy-dns-fetcher `
            --with github.com/anthemaker/caddy-signed-urls `
            --with github.com/argami/redir-dns `
            --with github.com/baldinof/caddy-supervisor `
            --with github.com/bploetz/caddy-oauth2-token-introspection `
            --with github.com/caddyserver/cache-handler `
            --with github.com/caddyserver/forwardproxy `
            --with github.com/caddyserver/ntlm-transport `
            --with github.com/caddyserver/replace-response `
            --with github.com/caddyserver/transform-encoder `
            --with github.com/casbin/caddy-authz/v2 `
            --with github.com/chris-swift-dev/caddy-fail2ban `
            --with github.com/chukmunnlee/caddy-openapi `
            --with github.com/corazawaf/coraza-caddy/v2 `
            --with github.com/deanchou/caddy_ip_filter `
            --with github.com/devetek/caddyserver-minifier `
            --with github.com/digilolnet/caddy-bunny-ip `
            --with github.com/dotvezz/caddy-mirror `
            --with github.com/dulli/caddy-wol `
            --with github.com/dunglas/mercure/caddy `
            --with github.com/dunglas/vulcain/caddy `
            --with github.com/enum-gg/caddy-discord `
            --with github.com/ewen-lbh/caddy-i18n `
            --with github.com/exante/caddy-tls-san-dns `
            --with github.com/firecow/caddy-elastic-encoder `
            --with github.com/fvbommel/caddy-combine-ip-ranges `
            --with github.com/fvbommel/caddy-dns-ip-range `
            --with github.com/gerolf-vent/caddy-vault-storage `
            --with github.com/ggicci/caddy-jwt `
            --with github.com/git001/caddyv2-upload `
            --with github.com/gonevo/caddy-tls-file-manager `
            --with github.com/gr33nbl00d/caddy-revocation-validator `
            --with github.com/greenpau/caddy-git `
            --with github.com/greenpau/caddy-lambda `
            --with github.com/greenpau/caddy-security `
            --with github.com/greenpau/caddy-trace `
            --with github.com/hslatman/caddy-openapi-validator `
            --with github.com/immosquare/caddy-dns-immosquare `
            --with github.com/infogulch/xtemplate `
            --with github.com/jonaharagon/caddy-umami `
            --with github.com/jpillora/ipfilter-caddy `
            --with github.com/kassner/caddy-trapdoor `
            --with github.com/kirsch33/realip `
            --with github.com/lanrat/caddy-dynamic-remoteip `
            --with github.com/mentimeter/caddy-storage-cf-kv `
            --with github.com/mholt/caddy-dynamicdns `
            --with github.com/mholt/caddy-events-exec `
            --with github.com/mholt/caddy-grpc-web `
            --with github.com/mholt/caddy-l4 `
            --with github.com/mholt/caddy-ratelimit `
            --with github.com/mholt/caddy-webdav `
            --with github.com/mkalus/caddy_block_aws `
            --with github.com/mkalus/caddy_nobots_v2 `
            --with github.com/mohammed90/caddy-aws-transport `
            --with github.com/mohammed90/caddy-encrypted-storage `
            --with github.com/mohammed90/caddy-git-fs `
            --with github.com/mohammed90/caddy-ngrok-listener `
            --with github.com/mohammed90/caddy-pocketbase `
            --with github.com/mohammed90/caddy-storage-loader `
            --with github.com/mohammed90/caddy-throttle-listener `
            --with github.com/mohammed90/caddy_profiling/profefe `
            --with github.com/mohammed90/caddy_profiling/profiling `
            --with github.com/mohammed90/caddy_profiling/pyroscope `
            --with github.com/monobilisim/caddy-ip-list `
            --with github.com/mpilhlt/caddy-conneg `
            --with github.com/muety/caddy-plausible-plugin `
            --with github.com/muety/caddy-remote-host `
            --with github.com/neodyme-labs/influx_log `
            --with github.com/o1egl/paseto/v2 `
            --with github.com/okrc/caddy-uploadcert-tencentcloud `
            --with github.com/oltdaniel/caddy-storage-valkey `
            --with github.com/pberkel/caddy-storage-redis `
            --with github.com/porech/caddy-maxmind-geolocation `
            --with github.com/protomaps/go-pmtiles/caddy `
            --with github.com/pteich/caddy-tlsconsul `
            --with github.com/quix-labs/caddy-pfx-certificates `
            --with github.com/sablierapp/sablier-caddy-plugin `
            --with github.com/sandstorm/caddy-nats-bridge `
            --with github.com/sebdroid/cookiecrypt `
            --with github.com/shift72/caddy-geo-ip `
            --with github.com/sjtug/caddy2-filter `
            --with github.com/sjtug/cerberus `
            --with github.com/steffenbusch/caddy-basicauth-totp `
            --with github.com/steffenbusch/caddy-bot-barrier `
            --with github.com/steffenbusch/caddy-cron-matcher `
            --with github.com/steffenbusch/caddy-extra-placeholders `
            --with github.com/steffenbusch/caddy-i18n-template-ext `
            --with github.com/steffenbusch/caddy-jwt-issuer `
            --with github.com/steffenbusch/caddy-placeholder-dump `
            --with github.com/steffenbusch/caddy-postauth-2fa `
            --with github.com/teodorescuserban/caddy-argsort `
            --with github.com/teodorescuserban/caddy-cookieflag `
            --with github.com/teodorescuserban/caddy-ip-map `
            --with github.com/thestaticturtle/caddy-client-tls-ldap-validator `
            --with github.com/tuzzmaniandevil/caddy-dynamic-clientip `
            --with github.com/ueffel/caddy-basic-auth-filter `
            --with github.com/ueffel/caddy-brotli `
            --with github.com/ueffel/caddy-imagefilter/v2/defaults `
            --with github.com/ueffel/caddy-tls-format `
            --with github.com/xcaddyplugins/caddy-trusted-cloudfront `
            --with github.com/xcaddyplugins/caddy-trusted-gcp-cloudcdn `
            --with github.com/ybizeul/caddy-logger-graphite `
            --with github.com/ysicing/caddy2-geocn `
            --with github.com/z3ntl3/caddyguard `
            --with github.com/zhangjiayin/caddy-geoip2 `
            --with go.hackfix.me/caddy-paseto `
            --with pkg.jsn.cam/caddy-defender `
            --with willnorris.com/go/imageproxy/caddy `      

      # 5. Сохранение артефакта
      - name: Upload Caddy binary
        uses: actions/upload-artifact@v4
        with:
          name: caddy-${{ steps.get_version.outputs.tag }}
          path: ./caddy.exe

  